#buttonsPack {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 8px;
    height: 67px;
    margin-top: 1rem;
    margin-right: 20rem;
}

button#copybtn{
    min-width: 23.3vh;
    border-radius: 24px;
    height: 5vh;

    position: relative;
    bottom: -2rem;
}

div#buttonsPack button {
    height: 67px;
    width: 328px;
    
    border-radius: 24px;
    border: 1px solid #072B61;
}

div#buttonsPack button#desc,
button#copybtn,
button#crip{
    background-color: lightgrey;
    color: black;
    transition: all .5s;
}

div#buttonsPack button#desc:hover
,button#copybtn:hover,
button#crip:hover {
    background-color: #072B61;
    color: white;
}

@media only screen and (max-width: 650px) {
    #buttonsPack {
        margin: 2.7vh;
    }
    div#buttonsPack button#crip,
    div#buttonsPack button#desc {
        min-width: 10rem;
    }
    
}