footer.rodape {
    margin: 20% 0 0 0;
    width: 100%;
    border-top: 3px solid #072B61;
}

footer.rodape h1,
footer.rodape p {
    margin-bottom: 1rem;
}

footer.rodape a {
    padding: .5rem;
    margin: 1rem;
    text-decoration: none;

    position:relative;
    bottom: 0;

    display: flex;
    justify-content: center;

    color: rgb(242, 239, 239);
    background-color: #072B61;
    border: 1px solid #072B61;
    border-radius: 24px;

    transition: all 0.5s;
}

footer.rodape a:hover {
    color: rgb(0, 0, 0);
    background-color: #0f387500;
}